@import "tailwindcss";

@utility no-scrollbar {
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

:root {
    overscroll-behavior-x: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }
    /* workaround for fixed element position error on iOS fullscreen container */                    
    min-height: calc(100% + env(safe-area-inset-top) + env(safe-area-inset-bottom));
    padding: env(safe-area-inset-top) 0 0 0;
    --background: #FFFFFF;
    --foreground: #000000;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #000000;
        --foreground: #EEEEEE;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

*::selection {
    background-color: color-mix(in oklab, var(--foreground) 50%, transparent);
}

*:focus-visible {
    outline: none;
}
